

@media all and (max-width:1000px) {
    .section {
        display: flex;
        flex-direction: column;
       width: 100%;
    }
    .para-apropos p {
        width: 170%;
    }
    .aligner img {
        width: 250px;
        height: 250px;
    }
    .card-item-details {
        width: 10px;
        padding: 0px;
    }
}